<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">
    <resultMap type='VI_ITEMS' id='Items'>
        <id property='id' column='ID'/>
        <result property='nombre' column='NOMBRE'/>
        <result property='descripcion' column='DESCRIPCION'/>
        <result property='fechalanzamiento' column='FECHA_LANZAMIENTO'/>
        <result property='tarifaxdia' column='TARIFA_DIA'/>
        <result property='formatorenta' column='FORMATO_RENTA'/>
        <result property='genero' column='GENERO'/>
        <association property="TIPOITEM_id" javaType="VI_ITEMRENTADO"/>
    </resultMap>
</mapper>